body {
    font-family: 'Montserrat', sans-serif;
}
}

h1 {
    font-size: 3em;
    font-weight: normal;
}
}

#date {
    font-size: 2em;
    font-weight: normal;
    display: flex;
    align-items: center;

}

#title-bar {
    display: flex;
    align-items: center;
}

#eventDate {
    background: #F9FCFD;
}

.gamer {
    background-color: white;
    border: solid grey 1px;
}

button {
    background: #9BB3F0;
    border: 2px solid #5281FA;
    border-radius: 8px;
    color: white;
    width: 115px;
    height: 25;
}

#gamertag {
    display: block;
    margin-bottom: 15px;
}

form {
    width: 300px;
    height: 100px;
}
#submit {
margin-top: 15px;

}

table {
    background-color: white;
    width: 80%;
    height: 400px;
    border: 2px solid #E5E5E5;
    border-radius: 8px 8px 0px 0px;
}

thead {
    border-left: 2px solid #E5E5E5;
    border: 2px solid #E5E5E5;
    background: #F9FCFD;
}