body {
    font-family: 'Montserrat', sans-serif;;
}

h1 {
    font-size: 48px;
}

.table {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
    background-color: #F8F9FF;
    ;
}

.gamer {
    background-color: white;
    border: solid grey 1px;
}